<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator BMI</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <script src="../static/demo.js"></script>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

</head>

<body>
<header>
    <div>
        <img class="BMIsign" src="../static/images/BMILogo.jpg" th:src="@{/images/BMILogo.jpg}" width="200">
        <!--        <h1>Oblicz swój wskaźnik BMI</h1>-->
        <!---->
    </div>
    <div>
        <img src="../static/images/weight loss.png" id="babki_static" th:src="@{/images/weight loss.png}" width="500"><BR>
    </div>
    <nav>
        <a href="BMIMainPage.html">Calculate</a>
        <a href="BMIFind.html">Find</a>
        <a href="BMIShowAllFind.html">Show all</a>
        <a href="BMITheory.html">BMI theory</a>
        <div class="animation start-home"></div>
    </nav>
    <br>
</header>


<div>
    <h2>What’s BMI?</h2>
    <p>BMI compares your weight to your height, and is calculated by dividing your weight (in kilograms) by your height (in metres
        squared). It gives you an idea of whether you’re 'underweight', a 'healthy' weight, 'overweight', or 'obese' for your
        height. BMI is one type of tool to help health professionals assess the risk for chronic disease.</p>
</div>

<img src="../static/images/WCRF-BMI-chart-WEB.png" th:src="@{/images/WCRF-BMI-chart-WEB.png}" class="wzor"
     width="500"/></body>

<footer>
    <p>
        <span>By Gerard<time datetime="2020-01-31">  31/01/2020</time> </span>
    </p>
</footer>
</html>